{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Email Sent{% endblock title %}

{% block main_content %}
<div class="reset-container">
    <div class="reset-message">
        <h3 class="reset-heading">Well Done!</h3>
        <hr class="reset-divider">
        <p class="luxury-text">
            A reset instruction has been sent to your email to reset your password. 
            <b>Please check your email</b>.
        </p>
    </div>
</div>
{% endblock main_content %}
