{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block main_content %}
<div class="reset-container">
    <div class="row justify-content-center">
        <div class="col-sm-6 text-center">
            <h3 class="reset-heading">Reset Password Completed!</h3>
            <hr class="reset-divider">
            <div class="reset-animation">
                <iframe 
                    src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk?html5=true"
                    class="reset-iframe"
                    frameborder="0"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
