{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Confirm{% endblock title %}

{% block main_content %}
<div class="password-confirm-container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h3 class="password-confirm-heading">Password Confirm</h3>
            <hr class="password-confirm-divider">
            <form action="" method="post" novalidate class="password-confirm-form">
                {% csrf_token %}
                
                {% for fm in form %}
                    <div class="form-group">
                        {{ fm.label_tag }} {{ fm }}
                        <small class="text-danger">{{ fm.errors|striptags }}</small>
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary mt-4">Reset Password</button>
                
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger my-3">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}
